# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg

# Ambientes virtuais
env/
venv/
ENV/
.venv/
.ENV/
*.env

# Django stuff
*.log
*.pot
*.pyc

db.sqlite3-journal

# Configs e segredos
.env
.env.*

# Migrations
**/migrations/
!*/migrations/__init__.py

# VSCode
.vscode/

# Static/media (caso sejam gerados pelo collectstatic ou upload)
staticfiles/
static/


# Cache/temporários
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

# mypy e pytest
.mypy_cache/
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Docker
*.pid
