{% extends "base.html" %}

{% block content %}
    <style>
      body {
         font-family: Arial, sans-serif;
         margin: 0;
         padding: 0;
         background-color: #f9f9f9;
      }

      form {
         display: flex;
         justify-content: center;
         margin: 20px auto;
         max-width: 600px;
         gap: 10px;
         padding: 0 10px;
      }

      input[type="text"] {
         flex: 1;
         padding: 10px;
         font-size: 16px;
         border: 1px solid #ccc;
         border-radius: 5px;
      }

      button {
         padding: 10px 20px;
         background-color: #b424aa;
         color: white;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         font-weight: bold;
         transition: background-color 0.3s ease;
      }

      button:hover {
         background-color: #6f1a6a;
      }

      .car-grid {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         gap: 20px;
         padding: 20px;
         max-width: 1200px;
         margin: auto;
      }
   
      .car-card {
         background-color: white;
         border-radius: 10px;
         box-shadow: 0 4px 8px rgba(0,0,0,0.1);
         overflow: hidden;
         text-align: center;
         transition: transform 0.2s;
      }

      .car-card:hover {
         transform: translateY(-5px);
         h2, p{
            color: #b424aa;
         }
      }

      .car-card img {
         height: 180px;
         object-fit: cover;
      }

      .car-card h2 {
         margin: 10px 0 5px;
         font-size: 18px;
         color: #333;
      }

      .car-card p {
         margin-bottom: 10px;
         color: #666;
         font-size: 16px;
      }

      .no-results {
         text-align: center;
         color: #999;
         font-size: 18px;
         margin-top: 30px;
      }

      a{ 
         text-decoration: none;
      }
      
     
   </style>

   <form method="GET" action="{% url 'cars_list' %}">
      <input type="text" name="search" placeholder="Buscar carro...">
      <button type="submit">Buscar</button>

   </form>

   <div class="car-grid">
      {% if cars %}
         {% for car in cars%}
            <a href="{% url 'car_detail' car.pk %}">
               <div class="car-card">
                  <img src="{{car.photo.url}}" alt="{{car.model}} - {{car.brand}}" >
                  <h2>{{car.brand}} {{car.model}}</h2>
                  <p>{{car.factory_year}} - R$ {{car.value}}</p>
               </div>
            </a>
         {% endfor%}
      {% else %}
         <p class="no-results">Nenhum carro encontrado.</p>
      {% endif %}
   </div>

{% endblock %}
